/* -----------------
    Common CSS
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  display: inline-block;
  /* width:100px; */
  width: 80px;
  text-align: right;
}


#budget-part {
  background-color: #F8F8F8;
}

h2, h4, h5 {
  font-weight: bold;
}

/* -----------------
  Income field CSS
--------------------*/
#income-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------------------
    Expense fields CSS
 ----------------------- */
#expenses-input, .total, #bonus{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------
    Save field CSS
--------------------- */
#save input {
  width: 100px;
  height: 35px;
}

@media (max-width:320px) {
  input {
    width: 60%;
  }
  #save input {
    width: 25%;
    height: 35px;
  }
}
