@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
/* label CSS */
label {
  font-weight: bold;
  display: inline-block;
  width:100px;
  text-align: right;
}

#income-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#expenses-input, .total, #bonus{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#save input {
  width: 132px;
  height: 35px;
}

#budget-part {
  background-color: #F8F8F8;
}
